.upcoming-img {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.upcoming-items {
    border-radius: 10px;
    border: 1px solid lightgray;
}

.upcoming-text {
    text-align: center;
}

/* responsiveness for tab.. */
@media screen and (max-width:820px) {
    .main-sec {
        display: grid;
        grid-template-columns: repeat(1, 300px);

        width: 100%;
        justify-items: center;
    }

    .blog-items {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }

    #blog-btn {
        visibility: visible;
    }
}

@media screen and (max-width:390px) {
    .blog-items {
        display: grid;
        grid-template-columns: repeat(1, 320px);
    }
}